body {
  background-color: aquamarine;
}

img {
  max-width: 30%;
  border-radius: 90%;
  display: block;
  margin: 40px auto;
}

img:hover {
  cursor: pointer;
}

.name-field {
  background-color: white;
  color: #daa2b7;
  font-family: fantasy;
  font-size: 42px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  max-width: 20%;
}

@media screen and (max-width: 600px) {
  .name-field {
    font-size: 32px;
    max-width: 80%;
  }

  img {
    max-width: 50%;
  }
}

@media screen and (max-width: 380px) {
  .name-field {
    font-size: 18px;
    max-width: 25%;
  }

  img {
    max-width: 50%;
  }
}
